<div class="harvey harvey--swap">
  <div class="harvey__image" style="background-image: url({{site.baseurl}}/img/content/amex/promo.jpg);">
    <a class="harvey__image-link" href="{{site.baseurl}}/amex"></a>
  </div>
  <div class="harvey__text">
    <div class="title title--smaller">Wherever your travels take you, enjoy special benefits and rewards to make every moment unforgettable.</div>
    <p>Make the American Express Gold Card your new travel companion.</p>
    <a href="{{site.baseurl}}/amex" class="btn btn--blue">More Info</a>
  </div>
</div>