<div class="harvey harvey--swap bg--amex-blue-dark invert-text">
  <div class="harvey__image" style="background-image: url({{site.baseurl}}/img/content/amex/promo.jpg);">
    <a class="harvey__image-link" href="https://ad.doubleclick.net/ddm/jump/N3284.2141904SECRETESCAPES/B20564419.211713927;sz=1x1;ord=[timestamp]?"></a>
  </div>
  <div class="harvey__text">
    <div class="title title--smaller">Wherever your travels take you, enjoy special benefits and rewards to make every moment unforgettable.</div>
    <p>Make the Preferred Rewards Gold Card from American&nbsp;Express<sup>®</sup> your new travel companion.</p>
    <a href="https://ad.doubleclick.net/ddm/jump/N3284.2141904SECRETESCAPES/B20564419.211713927;sz=1x1;ord=[timestamp]?" class="btn btn--invert">More Info</a>
  </div>
</div>

<div class="hidden">
  <IMG SRC="https://ad.doubleclick.net/ddm/ad/N3284.2141904SECRETESCAPES/B20564419.211713927;sz=1x1;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>
  <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/101572/21029615/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/101572/21029614/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>
</div>