<div class="harvey bg--light-grey">
  <div class="harvey__image" style="background-image: url({{site.baseurl}}/img/bg/competition.jpg);">
    <a class="harvey__image-link" href="{{site.baseurl}}/competition"></a>
  </div>
  <div class="harvey__text">
    <div class="title title--small">Win £3,500 to spend on your dream break</div>
    <p>We have £3,500 of Secret Escapes credit to give away, meaning you could be halfway around the world in no time. Start dreaming today and escape tomorrow. All you have to do is enter!</p>
    <a href="{{site.baseurl}}/competition" class="btn btn--blue">Enter Now</a>
  </div>
</div>