<div class="section">
  <div class="row row--padding">
    <div class="row align-center">
      <h2 class="title title--medium">Our member's perfect breaks</h2>
      <p>We asked people to send us their perfect breaks ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quos saepe, velit reiciendis deserunt quae distinctio, accusantium commodi cum quis harum, asperiores perferendis expedita eligendi, recusandae et ullam architecto magnam dolore aperiam vel! Voluptates recusandae error aspernatur, nesciunt cumque sunt doloribus eos, dicta libero autem eveniet consequatur, voluptate beatae doloremque.</p>
    </div>
    <div class="row">
      <ul class="social">
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-01.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-02.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-03.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-04.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-01.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-02.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-03.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-04.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-01.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-02.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-03.png');"></li>
        <li class="social__post" style="background-image: url('{{site.baseurl}}/img/content/perfect-summer-break/social/post-04.png');"></li>
      </ul>
    </div>
  </div>
</div>