// all custom styles for the site


// ---------- GENERAL STYLES ----------

.collection{
  position: relative;
  max-width: 750px;
  margin: $margin auto;
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center;
  @include bp(large){
    padding-top: 11em;
    padding-bottom: 11em;
  }
  & + & { margin-top: ($margin*4); }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
  }
  &__title{
    position: relative;
    z-index: $z-content-upper;
    display: inline-block;
    width: 80%;
    color: $amex-blue-dark;
    background-color: rgba($white,.9);
    padding: $margin ($margin*1.5);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
    @include transition;
    word-break: break-word;
    @include bp(small){
      width: auto;
      word-break: normal;
    }
  }
  &:hover &__title {
    transform: scale(1.1);
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
  }
  &__bg-image{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: $z-content;
    display: block;
    width: 55%;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
    background-color: $light-grey;
    @include background-attributes;
    &:nth-of-type(1) {
      z-index: ($z-content+1);
      left: 0;
      margin-top: -($margin/2);
      margin-bottom: $margin/2;
    }
    &:nth-of-type(2) {
      z-index: ($z-content+2);
      left: 45%;
      margin-top: $margin/2;
      margin-bottom: -($margin/2);
    }
    &:nth-of-type(3) {
      z-index: ($z-content+3);
      display: none;
    }
    @include bp(medium){
      width: 40%;
      &:nth-of-type(1) {
        left: 0;
        margin-top: -($margin);
        margin-bottom: $margin;
      }
      &:nth-of-type(2) {
        left: 30%;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-of-type(3) {
        display: block;
        left: 60%;
        margin-top: $margin;
        margin-bottom: -($margin);
      }
    }
  }
}

body { background-color: $amex-grey; }

.page__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  @include background-attributes;
  background-position: center top;
  background-color: $amex-grey;
}

.page__content { background-color: $white; }

.padding {
  padding-top: 4em;
  padding-bottom: 4em;
}

.invert-text {
  color: $white;
  .title { color: $white; }
}

.text {
  &--gold { color: #cfb53b; }
  &--bold { font-weight: 400; }
}

.bg {
  &--light-grey { background-color: $light-grey; }
  &--amex-blue { background-color: $amex-blue; }
  &--amex-blue-dark { background-color: $amex-blue-dark; }
  &--amex-cyan-lighter { background-color: $amex-cyan-lighter; }
}


// ---------- button ----------

.btn {
  @include transition;
  display: inline-block;
  padding: 1em 2em;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .25em;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  &:hover { text-decoration: none; }
  @include bp(large){ padding: 1.2em 3em; font-size: .92em; }
  &--small {
    // font-size: .579em;
    font-size: .694em;
    @include bp(large){ font-size: .694em; }
  }
  &--large {
    font-size: .867em;
    @include bp(large){ font-size: 1em; }
  }
  * + & { margin-top: 1.5em; }
  &--outline  {
    color: $amex-blue;
    border: 1px solid rgba($amex-blue,.66);
    &:hover {
      color: $white;
      background-color: $amex-blue;
    }
  }
  &--outline-orange  {
    color: $se-orange;
    border: 1px solid rgba($se-orange,.66);
    &:hover {
      color: $white;
      background-color: $se-orange;
    }
  }
  &--outline-cyan  {
    color: $amex-cyan;
    border: 1px solid rgba($amex-cyan,.66);
    &:hover {
      color: $white;
      background-color: $amex-cyan;
    }
  }
  &--orange {
    background-color: $se-orange;
    &:hover { background-color: #e67812; }
  }
  &--cyan {
    background-color: $amex-cyan;
    &:hover { background-color: darken($amex-cyan,10); }
  }
  &--blue {
    background-color: $amex-blue;
    &:hover { background-color: darken($amex-blue,10); }
  }
  &--invert {
    background-color: $amex-cyan-light;
    color: $amex-blue-dark;
    &:hover { background-color: $white; }
  }
}