// the title banner that appears at the top of every page. sometimes animated bgs


.title-banner {
  position: relative;
  height: 75%;
  min-height: 550px;
  text-align: center;
  color: white;
  @include background-attributes();
  background-position: center 0;
  &--amex {
    height: 60%;
    min-height: 350px;
  }
  &__wrap {height: 100%;}
  &__title {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    &-wrap {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: $z-content;
      padding-top: 20vh;
      padding-left: ($margin/2);
      padding-right: ($margin/2);
      margin: auto;

      @include bp(xxxlarge){
        max-width: $xxxlarge;
        margin-left: -600px;
      }

      @include bp(xlarge){
        left: 50%;
        &--narrow {
          max-width: 850px;
          margin-left: -425px;
        }
      }

      .csstransforms.csstransforms3d & {
        top: 50%;
        left: 0;
        right: 0;
        padding-top: 0;
        margin-left: auto;
        transform: translateY(-50%);
      }
    }
  }
}