---
layout: standard
id: perfect-summer-break
title: Perfect summer break
nav-order: 2
intro: Find out what your perfect summer escape should be. Play the game below and discover our top recommendation based on your tastes.

content-banner:
  title: Discover your perfect summer break
  content: |
    <p class="p--lead">Find out what your perfect summer escape should be. Play the game below and discover our top recommendation based on your tastes.</p>

game-results:
  - id: city-modern
    link: city-breaks
    link-title: City Breaks
    title: A modern city break
    content: For you, the electric buzz of the modern city is what you want from your summer getaway. Glass spires pierce the skyline whereas at ground floor the city ticks an upbeat tempo. Alight at rooftop cocktail bars, discover a host of contemporary galleries, and immerse yourself in the throws of the city.
    offer-id: avalon-hotel-nyc
  - id: city-historical
    link: city-breaks
    link-title: City Breaks
    title: A city break full of history and culture
    content: Remarkable architecture, streets pierced by ruins that halt modernity, stories and tales that stretch back to eternity, you want a city break packed with cultural exploits. From Rome to Athens and beyond, you can’t sit still until your itinerary is packed with museums, monuments and galleries, interspersed by espresso stops and quaint, vibrant bars.
    offer-id: avalon-hotel-nyc
  - id: stay-country
    link: staycations
    link-title: Staycations
    title: A country escape in the UK
    content: Forget flying abroad, the verdant countryside of Britain is where you want to be. Rolling valleys and effortlessly picturesque villages offer delightful escapes, framed by tea, a full english, and plenty of cosy pub stops following a day’s ramble.
    offer-id: avalon-hotel-nyc
  - id: stay-coast
    link: staycations
    link-title: Staycations
    title: A coastal escape in the UK
    content: Forget trudging to the airport, the wild coasts of Britain is where you want to be. Whether it’s the charming coast of Cornwall, or the dramatic scenes of the Lake District, you need the calm of the water to help you relax this summer. With cosy pubs, fine dining and charming villages to explore, escape to the coast.
    offer-id: avalon-hotel-nyc
  - id: europe-north
    link: european-getaways
    link-title: European Getaways
    title: A break in northern Europe
    content: Northern Europe is the place to be this summer. Whether it’s exploring enigmatic Scandinavia or enjoying Germanic offerings in Bavaria, you prefer the draw of folksy villages and culturally vibrant towns. Throw in vast forests, epic landscapes and modern cities, and you have the ingredients for a memorable summer escape.
    offer-id: avalon-hotel-nyc
  - id: europe-south
    link: european-getaways
    link-title: European Getaways
    title: A break in southern Europe
    content: Southern Europe is your summer playground. Pick from any Greek Island for jaw-dropping beauty, or explore the Italian coastline for technicolour villas perched on precarious cliffs. Southern Europe is popular for good reason; its sheer beauty is only rivalled by its sumptuous cuisine, eclectic culture and buzzing towns.
    offer-id: avalon-hotel-nyc
  - id: coast-beach
    link: coastal-breaks
    link-title: Coastal Breaks
    title: A break on isolated shores
    content: For you, a holiday is all about kicking-back on powder-sand beaches and doing, well, nothing at all. Let the sun soak in, let the cocktails be brought to your sun lounger, and let nothing disturb you on tropical, isolated coastline. This is bliss.
    offer-id: avalon-hotel-nyc
  - id: coast-city
    link: coastal-breaks
    link-title: Coastal Breaks
    title: A coastal break near vibrant towns and cities
    content: You love beaches. We do too. But you need just a little more. You want to sun-soak, dip in refreshing waters, but also immerse yourself in new cultures. You want something more to do, new delicacies to try, and winding streets to explore. Try these picks for stunning beaches nestled near vibrant towns and cities, for a memorable summer escape.
    offer-id: avalon-hotel-nyc
  - id: longhaul-asia
    link: long-haul-luxury
    link-title: Long Haul Luxury
    title: Escape to far-flung Asia
    content: Teeming mega-cities bustle with excitement and energy and remote archipelagos offer island idylls and exotic sanctuaries. Asia is calling. A long-time draw for backpackers and adventurers alike, Asia is the stuff of dreams, a bucket-list topping destination packed with iconic breaks. It’s remote, startlingly different, and perfect for your summer.
    offer-id: avalon-hotel-nyc
  - id: longhaul-america
    link: long-haul-luxury
    link-title: Long Haul Luxury
    title: Escape to the iconic USA
    content: Head stateside, for more iconic experiences than you could ever hope to tick-off in one summer. Whether it’s the hustle of Manhattan, or the balmy atmosphere of California, the USA is your pick for a perfect summer getaway. A vast country packed with bucket-list experiences, start your American adventure this summer.
    offer-id: avalon-hotel-nyc
---

<div class="section section--lg game">
  <div class="row row--padding align-center">

    <div class="game__category">
      <div class="row game__message">
        <div class="title title--smaller">Choose the <strong>5</strong> images that would make up your perfect summer holiday</div>
      </div>
      <div class="row">
        <ul class="game__category-list js-game__category-list"></ul>
        <a id="track-category-submit" class="btn btn--orange btn--large js-game__category-submit">Submit</a>
      </div>
    </div>
    <div class="game__style">
      <div class="row game__message">
        <div class="title title--smaller">Choose the <strong>5</strong> images that would make up your perfect summer holiday</div>
      </div>
      <div class="row">
        <ul class="game__style-list js-game__style-list"></ul>
        <a id="track-game-result" class="btn btn--orange btn--large js-game__style-submit">Submit</a>
      </div>
    </div>
    <div class="game__result align-center">
      <div class="row">
        {% for result in page.game-results %}
        <div class="result js-result-{{result.id}}">
          <div class="row row--lg">
            <div class="title title--upper title--bold title--expanded title--super">You Seem To like</div>
            <div class="title title--large">{{result.title}}</div>
            <p class="p--large">{{result.content}}</p>
          </div>
          <div class="row row--xxl align-left">
            {% assign result-offer = site.data.offers | where: "id", result.offer-id %}
            {% for offer in result-offer %}
              {% include offer-lg.html %}
            {% endfor %}
          </div>
          <div class="row align-center">
            <div>
              <a id="track-game-result-collection" href="{{site.baseurl}}/{{result.link}}" class="btn btn--orange">See More {{result.link-title}}</a><br><a id="track-game-reset" class="js-game__reset btn btn--outline-orange btn--small">Choose Again?</a>
            </div>
            <div>

            </div>
          </div>
          <div class="row align-center">

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>